.jumbotron {
  text-align: center;
  background-color: lightblue;
}

.jumbotron h2 {
  color: black;
}

.jumbotron p {
  color: black;
}


#results {
  text-align: center;
  font-size: 15px;
}

img {
  display: none;
}

body {
  background-color:maroon;
}

.container {
  color: cyan;
}

form {
  color: black;
}